/* AddHostel.css */
.content {
    padding: 20px;
    background-color: #f8f9fa;
}

h1 {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control,
.form-check-input,
.form-check-label,
.btn {
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.file-input-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.file-input {
    display: block;
    margin-bottom: 20px;
}

.amenities-group .form-check {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
    }
}

button[type="submit"] {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
